
.letter {
  background: #f1e3d5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 26px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 70%;
  z-index: 2;
  transform: rotate(1.4deg);
}
.letter > div {
  transform: rotate(1.4deg);
  text-align: left;
  padding: 0;
  margin: 0;
}
.letter:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #c2b5a7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #d6c4b3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

@media (max-width: 360px) {
  .letter {
    background: #d3c9bf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 300px;
    padding: 12px;
    position: relative;
    width: 70%;
  }
}
